*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 1rem;
  background-color: #EB5353;
  grid-area: header; }
  header h1 {
    text-align: center;
    font-size: 2rem;
    color: #ecce1f;
    padding: 1rem; }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; }
    header nav ul li {
      text-decoration: none;
      font-size: 1rem;
      color: black;
      background-color: rgba(238, 235, 53, 0.507);
      margin: 0.2rem;
      font-family: 'Roboto Condensed', sans-serif;
      border-radius: 1rem;
      font-weight: bold; }

.mainNosotros {
  padding: 1.5rem;
  display: grid;
  grid-template-areas: "mainP mainP"
                       "divImagen divImagen"
                       "piepagina piepagina";
  justify-items: center;
  background-color: #F9D923;
  grid-area: main; }
  .mainNosotros .mainP {
    grid-area: mainP;
    text-align: center;
    font-size: 1rem; }

section .divImagen {
  grid-area: divImagen; }

section .sectionImagen {
  display: none;
  display: block;
  grid-area: sectionImagen; }

section .sectionCorriendo {
  display: none;
  display: block;
  grid-area: sectionCorriendo; }

footer {
  grid-area: piepagina;
  text-align: center;
  background-color: #187498; 
}

@media screen and (min-width:600px) {
    .sectionImagen{
        display: block;
        grid-area: sectionImagen;
    }
    .mainNosotros{
        display: grid;
        height: 100vh;
        grid-template-areas: "mainP mainP"
                             "divImagen sectionImagen"
                             "piepagina piepagina";
        justify-items: center;
        column-gap: 0.5rem;
  }
}

@media screen and (min-width:1024px) {
    .mainNosotros{
        display: grid;
        height: 100vh;
        grid-template-rows: 4.5fr 20fr 2fr 0.5fr;
        grid-template-areas: "header header header header"
                             "mainP mainP mainP mainP"
                             "divImagen divImagen sectionImagen sectionCorriendo"
                             "footer footer footer footer";                 
        gap: 0.5rem;
    } 
}    