@media screen and (min-width: 600px) {
  .sectionImagen {
    display: block;
    grid-area: sectionImagen; }
  .mainNosotros {
    display: grid;
    height: 100vh;
    grid-template-areas: "mainP mainP"
 "divImagen sectionImagen"
 "piepagina piepagina";
    justify-items: center;
    column-gap: 0.5rem; } }

@media screen and (min-width: 1024px) {
  .mainNosotros {
    display: grid;
    height: 100vh;
    grid-template-rows: 4.5fr 20fr 2fr 0.5fr;
    grid-template-areas: "header header header header"
 "mainP mainP mainP mainP"
 "divImagen divImagen sectionImagen sectionCorriendo"
 "footer footer footer footer";
    gap: 0.5rem; } }


/*reset*/

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
   
html {
  font-size: 18px; }
  html body {
    background-color: #F9D923;
    height: 100vh; }
    html body header {
      margin-bottom: 1rem;
      background-color: #EB5353;
      
    }
      html body header h1 {
        text-align: center;
        font-size: 2rem;
        color: #ecce1f;
        padding: 1rem; }
      html body header nav ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none; }
        html body header nav ul li {
          text-decoration: none;
          font-size: 1rem;
          color: black;
          background-color: rgba(238, 235, 53, 0.507);
          margin: 0.2rem;
          font-family: 'Roboto Condensed', sans-serif;
          border-radius: 1rem;
          font-weight: bold; }
    html body .mainNosotros {
      padding: 1.5rem;
      justify-items: center;
      background-color: #F9D923;
    }
      html body .mainNosotros{
        text-align: center;
        font-size: 1rem; }
    html body section
.divImagen {
      grid-area: divImagen; }
      html body section
.divImagen .sectionImagen {
        display: none;
        display: block;
        grid-area: sectionImagen; }
      html body section
.divImagen .sectionCorriendo {
        display: none;
        display: block;
        grid-area: sectionCorriendo; }
    html body footer {
      
      text-align: center;
      background-color: #EB5353;
      }


.cabeza {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 10px;
  grid-area: cabeza;
}

main{
  display: grid;
  gap: 10px;
  grid-area: main;

}

section{
  display: grid;
  grid-template-columns: repeat(3, 30%);
  column-gap: 10px;
  gap: 10px;
  justify-content: center;
  height: 400px;
  grid-area: section;
}


footer{
  display: grid;
  gap: 10px;
  grid-area: footer;
}


.imagenContacto{
  justify-self:right;
}

.contenedor{
  display: grid;
  grid-template-areas: "cabeza cabeza cabeza"
                       "main main main"
                       "section section section"
                       "footer footer footer";

}












