//imports
@import "utilities/variables";
@import "utilities/medias";

//nesting
/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html {
        font-size: 18px;
        height: 100vh;
        }
        

        body {
            background-color: $color-principal;
            height: 100vh;
            }
            

            header {
                margin-bottom: 1rem;
                background-color: #EB5353;
                

                h1 {
                    text-align: center;
                    font-size: 2rem;
                    color: #ecce1f;
                    padding: 1rem;
                    }

                nav {
                        ul {
                            display: flex;
                            list-style-type: none;
                            }
                            li {
                                background-color: rgba(238, 235, 53, 0.507);
                                margin: 0.2rem;
                                font-family: 'Roboto Condensed', sans-serif;
                                border-radius: 1rem;
                                font-weight: bold;
                            }
                }
            }
        
            .mainMain {
                height: 80vh;
                display: grid;
                grid-template-areas: "mainP"
                                     "carousel";
                padding: 1rem;
                justify-items: center;
                .mainP {
                    grid-area: mainP;
                    text-align: center;
                    font-size: 0.7rem; }
                .carousel {
                    grid-area: carousel; }
                .estetica {
                    grid-area: estetica;
                    display: none; }
                .corriendo {
                    grid-area: corriendo;
                    display: none; }
            }

            
            footer {
                    grid-area: footer;
                    text-align: center;
                    background-color: #EB5353;
            }
                  
            
            



  
  
  
  .fisicaImagen1 {
    grid-area: fisicaImagen1;
  }
  
  .fisicaImagen2 {
    grid-area: fisicaImagen2;
  }
  
  .fisicaImagen3 {
    grid-area: fisicaImagen3;
  }
  
  .mainCentro {
    display: grid;
    grid-template-areas: "mainP"
                         "fisicaImagen1"
                         "fisicaImagen2"
                         "fisicaImagen3";
    justify-items: center;
  }
  
 
  
  /*Estetica*/
  
  /*grid de estetica*/
  
  .mainEstetica {
    display: grid;
    grid-template-areas: "mainP"
                         "fisicaImagen1"
                         "fisicaImagen2"
                         "fisicaImagen3";
    justify-items: center;
  }
  
 
  
  
  
  /*Nosotros*/
  
  /*grid de nosotros*/
  
  .mainNosotros{
    display: grid;
    grid-template-areas: "mainP"
                         "fisicaImagen1"
                         "fisicaImagen2"
                         "fisicaImagen3";
    justify-items: center;
  }
  

  
  .imagenContacto{
    padding: 2rem;
    justify-items: center;
    grid-area: imagenContacto;
    display: none;
  }
  
  
  /*Contacto*/
  
  /*grid de contacto*/
   
  .mainContacto{
    margin: 2rem;
    height: 70vh;
    display: grid;
     
  }
  

  