@media screen and (min-width:600px) {
    .sectionImagen{
        display: block;
        grid-area: sectionImagen;
    }
    .mainNosotros{
        display: grid;
        height: 100vh;
        grid-template-areas: "mainP mainP"
                             "divImagen sectionImagen"
                             "piepagina piepagina";
        justify-items: center;
        column-gap: 0.5rem;
  }
}

@media screen and (min-width:1024px) {
    .mainNosotros{
        display: grid;
        height: 100vh;
        grid-template-rows: 4.5fr 20fr 2fr 0.5fr;
        grid-template-areas: "header header header header"
                             "mainP mainP mainP mainP"
                             "divImagen divImagen sectionImagen sectionCorriendo"
                             "footer footer footer footer";                 
        gap: 0.5rem;
    } 
}    