/*mq home*/

@media screen and (min-width:600px) {
    .mainP {
        font-size: 0.9rem;
    }

    .corriendo {
        display: none;
    }

    .carousel {
        display: none;
    }

    .estetica {
        display: block;
    }

    .mainMain {
        height: 100vh;
        display: grid;
        grid-template-areas: "mainP"
            "estetica";
    }
}

@media screen and (min-width:1024px) {
    .carousel {
        display: block;
        grid-area: carousel;
    }

    .corriendo {
        grid-area: corriendo;
        display: block;
    }

    .estetica {
        display: block;
        grid-area: estetica;
    }

    .mainMain {
        height: 100vh;
        display: grid;
        grid-template-areas: "mainP carousel"
            "corriendo estetica";
    }
}

/*mq Centro*/
@media screen and (min-width: 600px) {
    .mainP {
        font-size: 0.9rem;
        padding: 1rem;
    }

    .mainCentro {
        height: 100vh;
        display: grid;
        grid-template-areas: "mainP mainP mainP"
            "fisicaImagen1 fisicaImagen2 fisicaImagen3";
        justify-content: center;
        padding: 1.5rem;
        column-gap: 2rem;
    }

}

/*mq Estetica*/
@media screen and (min-width: 600px) {
    .mainP {
        font-size: 0.9rem;
        padding: 1rem;
    }

    .mainEstetica {
        display: grid;
        grid-template-areas: "mainP mainP mainP"
            "fisicaImagen1 fisicaImagen2 fisicaImagen3";
        justify-content: center;
        padding: 1.5rem;
        column-gap: 2rem;
    }
}

/*mq Nosotros*/
@media screen and (min-width: 600px) {
    .mainP {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .mainNosotros {
        display: grid;
        grid-template-areas: "mainP mainP mainP"
            "fisicaImagen1 fisicaImagen2 fisicaImagen3";
        justify-content: center;
        padding: 1.5rem;
        column-gap: 2rem;
    }
}

/*mq Contacto*/
@media screen and (min-width: 600px) {
    .imagenContacto {
        display: block;
    }

    .mainContacto {
        height: 100vh;
        display: grid;
        grid-template-areas: "imagenContacto";
        justify-content: center;
        padding: 1.5rem;
        column-gap: 2rem;
    }
}

